* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rtl {
  direction: rtl;
}

.rtl [class*='wbi-'] {
  float: right;
}

.ltr {
  direction: ltr;
}

.ltr [class*='wbi-'] {
  float: left;
}

.row {
  margin: 0 auto;
  max-width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container-100 {
  max-width: 100%;
  margin: 0 auto;
}

.container-90 {
  max-width: 90%;
  margin: 0 auto;
}

.container-80 {
  max-width: 80%;
  margin: 0 auto;
}

.container-70 {
  max-width: 70%;
  margin: 0 auto;
}

.container-60 {
  max-width: 60%;
  margin: 0 auto;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.img-responsive {
  max-width: 100%;
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}

.btn {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
  color: #fff;
  margin-top: 5px;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  text-decoration: none;
  border: none;
  font-size: 14px;
  height: 36px;
  padding: 5px;
}

.btn-red {
  background-color: #e71a4f;
}

.btn-blue {
  background-color: #08a5ff;
}

.btn-green {
  background-color: #8cc015;
}

[class*='wbi-'] {
  padding: 0.3em;
}

.wbi-1 {
  width: 100%;
}

.wbi-2 {
  width: 50%;
}

.wbi-3 {
  width: 33.33333%;
}

.wbi-4 {
  width: 25%;
}

.wbi-5 {
  width: 20%;
}

.wbi-6 {
  width: 16.66667%;
}

.wbi-7 {
  width: 14.28571%;
}

.wbi-8 {
  width: 12.5%;
}

.wbi-9 {
  width: 11.11111%;
}

.wbi-10 {
  width: 10%;
}

.wbi-11 {
  width: 9.09091%;
}

.wbi-12 {
  width: 8.33333%;
}

.wbi-25 {
  width: 25%;
}

.wbi-40 {
  width: 40%;
}

.wbi-60 {
  width: 60%;
}

.wbi-75 {
  width: 75%;
}

@media (max-width: 30em) {
  .wbi-1 {
    width: 100%;
  }
  .wbi-2 {
    width: 100%;
  }
  .wbi-3 {
    width: 100%;
  }
  .wbi-4 {
    width: 100%;
  }
  .wbi-5 {
    width: 100%;
  }
  .wbi-6 {
    width: 100%;
  }
  .wbi-7 {
    width: 100%;
  }
  .wbi-8 {
    width: 100%;
  }
  .wbi-9 {
    width: 100%;
  }
  .wbi-10 {
    width: 100%;
  }
  .wbi-11 {
    width: 100%;
  }
  .wbi-12 {
    width: 100%;
  }
}

@media (min-width: 30em) and (max-width: 50em) {
  .wbi-4,
  .wbi-5,
  .wbi-6,
  .wbi-8,
  .wbi-10,
  .wbi-12 {
    width: 50%;
  }
  .wbi-1,
  .wbi-2,
  .wbi-3,
  .wbi-5,
  .wbi-7,
  .wbi-9,
  .wbi-11 {
    width: 100%;
  }
}

@media (min-width: 50em) and (max-width: 68.75em) {
  .wbi-2,
  .wbi-7 {
    width: 100%;
  }
  .wbi-4,
  .wbi-5,
  .wbi-8,
  .wbi-10,
  .wbi-12 {
    width: 50%;
  }
}
