//
// Responsiveness
// Feel free to use your own responsive widths and styles for the grid
// These are mostly for example use only.
// --------------------------------------------------

// Mobile
@media (max-width: $small) {
    @for $i from $start through $end {
        .rox-col-#{$i} {
            width: $full
        }
    }
}

// Portrait Tablet
@media (min-width: $small) and (max-width: $medium) {
    .rox-col-4,
    .rox-col-5,
    .rox-col-6,
    .rox-col-8,
    .rox-col-10,
    .rox-col-12 {
        width: $half;
    }

    .rox-col-1,
    .rox-col-2,
    .rox-col-3,
    .rox-col-5,
    .rox-col-7,
    .rox-col-9,
    .rox-col-11 {
        width: $full;
    }
}

// Landscape Tablet
@media (min-width: $medium) and (max-width: $large) {
    .rox-col-2,
    .rox-col-7 {
        width: $full;
    }

    .rox-col-4,
    .rox-col-5,
    .rox-col-8,
    .rox-col-10,
    .rox-col-12 {
        width: $half;
    }
}