//
// Reset
// Optional hard reset
// --------------------------------------------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rtl{
	direction:rtl;
		[class*='rox-col-'] {
		float: right;
	}
}

.ltr{
	direction:ltr;
	[class*='rox-col-'] {
		 float: left;
	}
}
 
[class*='rox'] {
    padding: $rox-padding;
}

// clearfix
.row {
    margin: 0 auto;
    max-width: $row-width;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
